<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
    <style>
        body{
            width: 1000px;
            padding: 40px;
            margin: auto;
        }

        input#reset{
            display: block;
            margin-left: auto;
        }
        .bet{
            display: Inline-block;
            width: 190px;
            outline: 1px solid black;
            text-align: center;
            margin: 15px 15px;
        }
        div#logs{
            width:900px;
            outline: 1px solid black;
            text-align: top;
            padding: 10px;
        }
        .green{
            color: green;
        }
        .red{
            color: red;
        }

    </style>
</head>
<body>
    <form action="/" method="post" >
        <input id="reset" type="submit" value="Reset Game" name="reset" class="btn btn-primary" formaction="game/reset">
        <h1>Your money: <%= @money %> </h1>
        <h2>Chances left: <%= @chance %></h2>
        <section>
            <div class="bet">
                <h3>Low Risk</h3>
                <input id="low" type="submit" value="Bet" name="low" class="btn btn-primary" formaction="game/low">
                <p>by -25 up to 100</p>
            </div>
            <div class="bet">
                <h3>Moderate Risk</h3>
                <input id="mod" type="submit" value="Bet" name="mid" class="btn btn-primary" formaction="game/moderate">
                <p>by -100 up to 1000</p>
            </div>
            <div class="bet">
                <h3>High Risk</h3>
                <input id="high" type="submit" value="Bet" name="high" class="btn btn-primary" formaction="game/high">
                <p>by -500 up to 2500</p>
            </div>
            <div class="bet">
                <h3>Severe Risk</h3>
                <input id="severe" type="submit" value="Bet" name="severe" class="btn btn-primary" formaction="game/severe">
                <p>by -3000 up to 5000</p>
            </div>
        </section>
        <h4>
            Game Host:
        </h4>
        <div id="logs">
        <%= @logs %>
        </div>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

    </form>
</body>
</html>