<!-- rendering the header partial from another folder. Notice the omission of the underscore -->
<%= render "shared/header" %>
<h1>This is the index view for all the students</h1>
<!-- rendering the user_partial from the same folder. -->
<%= render "student_partial" %>
<!-- rendering the footer partial from another folder. -->
<%= render "shared/footer" %>