<h1>New Training</h1>

<form action="/training" method="post">
    <input type="number" name="training[batch]">
    <input type="date" name="training[start]">
    <input type="date" name="training[end]">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <input type="submit" value="Add Training">
</form>